

    {% include 'layout/header.html' %}

    <!-- banner section start here -->
    <section class="banner-section style-3">
        <div class="container">
            <div class="section-wrapper">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="banner-content"> 
                            <h2 class="title">Build Skills With Experts Any Time Anywhere</h2>
                            <p class="desc">Professor is Best & Perfect Venue to Grow up Your Knowledge</p>
                            <a href="#" class="lab-btn"><span>Get Started Now</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner section ending here -->


    <!-- features section start here -->
    <div class="feature-section padding-tb">
        <div class="container">
            <div class="section-header text-center">
                <span class="subtitle">Why Choose Us</span>
                <h2 class="title">Get Everything for Learning</h2>
            </div>
            <div class="section-wrapper">
                <div class="row g-4 row-cols-lg-3 row-cols-sm-2 row-cols-1 justify-content-center">
                    <div class="col">
                        <div class="feature-item">
                            <div class="feature-inner">
                                <div class="feature-thumb">
                                    <img src="assets/images/feature/01.png" alt="feature">
                                </div>
                                <div class="feature-content">
                                    <a href="#"><h5>Book & Library <span>Facelities</span></h5></a>
                                    <a href="#" class="lab-btn-text">View More <span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="feature-item">
                            <div class="feature-inner">
                                <div class="feature-thumb">
                                    <img src="assets/images/feature/02.png" alt="feature">
                                </div>
                                <div class="feature-content">
                                    <a href="#"><h5>Online & Offline <span>Courses</span></h5></a>
                                    <a href="#" class="lab-btn-text">View More <span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="feature-item">
                            <div class="feature-inner">
                                <div class="feature-thumb">
                                    <img src="assets/images/feature/03.png" alt="feature">
                                </div>
                                <div class="feature-content">
                                    <a href="#"><h5>Certification After  <span>Course Complete</span></h5></a>
                                    <a href="#" class="lab-btn-text">View More <span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="feature-item">
                            <div class="feature-inner">
                                <div class="feature-thumb">
                                    <img src="assets/images/feature/04.png" alt="feature">
                                </div>
                                <div class="feature-content">
                                    <a href="#"><h5>Professional and  <span>Ingenious Instructor</span></h5></a>
                                    <a href="#" class="lab-btn-text">View More <span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="feature-item">
                            <div class="feature-inner">
                                <div class="feature-thumb">
                                    <img src="assets/images/feature/05.png" alt="feature">
                                </div>
                                <div class="feature-content">
                                    <a href="#"><h5>Air Condition Class <span>Room</span></h5></a>
                                    <a href="#" class="lab-btn-text">View More <span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="feature-item">
                            <div class="feature-inner">
                                <div class="feature-thumb">
                                    <img src="assets/images/feature/06.png" alt="feature">
                                </div>
                                <div class="feature-content">
                                    <a href="#"><h5>Best Industry <span>Leader</span></h5></a>
                                    <a href="#" class="lab-btn-text">View More <span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- features section ending here -->


    <!-- Course Section Start Here -->
    <div class="course-section style-2 padding-tb">
        <div class="container">
            <div class="section-header">
                <span class="subtitle">Don’t Miss</span>
                <h2 class="title">Lincon’s Courses</h2>
                <div class="course-navigations">
                    <div class="course-navi course-navi-next"><i class="icofont-double-left"></i></div>
                    <div class="course-navi course-navi-prev"><i class="icofont-double-right"></i></div>
                </div>
            </div>
            <div class="section-wrapper">
                <div class="course-slider p-2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="course-item style-3">
                                <div class="course-inner text-center">
                                    <div class="course-thumb">
                                        <img src="assets/images/course/13.jpg" alt="course">
                                        <ul class="course-info lab-ul">
                                            <li><span class="course-name">Web Design</span></li>
                                            <li><span class="price">$19.00</span></li>
                                            <li>
                                                <span class="ratting">
                                                    <i class="icofont-ui-rate-blank"></i>
                                                    <i class="icofont-ui-rate-blank"></i>
                                                    <i class="icofont-ui-rate-blank"></i>
                                                    <i class="icofont-ui-rate-blank"></i>
                                                    <i class="icofont-ui-rate-blank"></i>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="course-content">
                                        <a href="course-single.html"><h4>Learn Basic Web Design with HTML & CSS</h4></a>
                                        <div class="course-details">
                                            <div class="couse-count"><i class="icofont-users-alt-3"></i> 200</div>
                                            <div class="couse-topic"><i class="icofont-speech-comments"></i> 23</div>
                                        </div>
                                        <a href="course-single.html" class="lab-btn"><span>Read More</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="course-item style-3">
                                <div class="course-inner text-center">
                                    <div class="course-thumb">
                                        <img src="assets/images/course/14.jpg" alt="course">
                                        <ul class="course-info lab-ul">
                                            <li><span class="course-name">PHP</span></li>
                                            <li><span class="price">Free</span></li>
                                            <li>
                                                <span class="ratting">
                                                    <i class="icofont-ui-rate-blank"></i>
                                                    <i class="icofont-ui-rate-blank"></i>
                                                    <i class="icofont-ui-rate-blank"></i>
                                                    <i class="icofont-ui-rate-blank"></i>
                                                    <i class="icofont-ui-rate-blank"></i>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="course-content">
                                        <a href="course-single.html"><h4>Learn Basic Web Design with HTML & CSS</h4></a>
                                        <div class="course-details">
                                            <div class="couse-count"><i class="icofont-users-alt-3"></i> 200</div>
                                            <div class="couse-topic"><i class="icofont-speech-comments"></i> 23</div>
                                        </div>
                                        <a href="course-single.html" class="lab-btn"><span>Read More</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="course-item style-3">
                                <div class="course-inner text-center">
                                    <div class="course-thumb">
                                        <img src="assets/images/course/15.jpg" alt="course">
                                        <ul class="course-info lab-ul">
                                            <li><span class="course-name">English</span></li>
                                            <li><span class="price">$19.00</span></li>
                                            <li>
                                                <span class="ratting">
                                                    <i class="icofont-ui-rate-blank"></i>
                                                    <i class="icofont-ui-rate-blank"></i>
                                                    <i class="icofont-ui-rate-blank"></i>
                                                    <i class="icofont-ui-rate-blank"></i>
                                                    <i class="icofont-ui-rate-blank"></i>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="course-content">
                                        <a href="course-single.html"><h4>Learn Basic Web Design with HTML & CSS</h4></a>
                                        <div class="course-details">
                                            <div class="couse-count"><i class="icofont-users-alt-3"></i> 200</div>
                                            <div class="couse-topic"><i class="icofont-speech-comments"></i> 23</div>
                                        </div>
                                        <a href="course-single.html" class="lab-btn"><span>Read More</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Course Section Ending Here -->


    <!-- Achievement section start here -->
    <div class="achievement-section style-3 padding-tb">
        <div class="container">
            <div class="section-wrapper">
                <div class="counter-part">
                    <div class="row g-4 row-cols-lg-4 row-cols-sm-2 row-cols-1 justify-content-center">
                        <div class="col">
                            <div class="count-item">
                                <div class="count-inner">
                                    <div class="count-icon">
                                        <i class="icofont-users-alt-4"></i>
                                    </div>
                                    <div class="count-content">
                                        <h2><span class="count" data-to="12600" data-speed="1500"></span><span>+</span></h2>
                                        <p>Students Enrolled</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="count-item">
                                <div class="count-inner">
                                    <div class="count-icon">
                                        <i class="icofont-graduate-alt"></i>
                                    </div>
                                    <div class="count-content">
                                        <h2><span class="count" data-to="50" data-speed="1500"></span><span>+</span></h2>
                                        <p>Certified Trainer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="count-item">
                                <div class="count-inner">
                                    <div class="count-icon">
                                        <i class="icofont-notification"></i>
                                    </div>
                                    <div class="count-content">
                                        <h2><span class="count" data-to="350" data-speed="1500"></span><span>+</span></h2>
                                        <p>Professional Courses</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="count-item">
                                <div class="count-inner">
                                    <div class="count-icon">
                                        <i class="icofont-clock-time"></i>
                                    </div>
                                    <div class="count-content">
                                        <h2><span class="count" data-to="30" data-speed="1500"></span><span>+</span></h2>
                                        <p>Years of Experience</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Achievement section ending here -->

    <!-- Event Section Start Here -->
    <div class="event-section padding-tb">
        <div class="container">
            <div class="section-header text-center">
                <span class="subtitle">Don’t Miss the Day</span>
                <h2 class="title">Upcomming Events</h2>
                <p class="desc">Take courses on your any device with our app & learn all time what you want. Just download & install & start to learn</p>
            </div>
            <div class="section-wrapper">
                <div class="row row-cols-lg-2 row-cols-1 g-4">
                    <div class="col">
                        <div class="event-left">
                            <div class="event-item">
                                <div class="event-inner">
                                    <div class="event-thumb">
                                        <img src="assets/images/event/01.jpg" alt="education">
                                    </div>
                                    <div class="event-content">
                                        <div class="event-date-info">
                                            <div class="edi-box">
                                                <h4>13</h4>
                                                <p>Nav 2021</p>
                                            </div>
                                        </div>
                                        <div class="event-content-info">
                                            <a href="#"><h4>The Way of Higher Education & Its Difficulties</h4></a>
                                            <ul class="lab-ul">
                                                <li><i class="icofont-clock-time"></i> 08:30 am</li>
                                                <li><i class="icofont-google-map"></i> National Auditorium, Dhaka</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="event-right">
                            <div class="event-item">
                                <div class="event-inner">
                                    <div class="event-content">
                                        <div class="event-date-info">
                                            <div class="edi-box">
                                                <h4>13</h4>
                                                <p>Nav 2021</p>
                                            </div>
                                        </div>
                                        <div class="event-content-info">
                                            <a href="#"><h5>Convocation and Celebration 2021</h5></a>
                                            <ul class="lab-ul">
                                                <li><i class="icofont-clock-time"></i> 08:30 am</li>
                                                <li><i class="icofont-google-map"></i> National Auditorium, Dhaka</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event-item">
                                <div class="event-inner">
                                    <div class="event-content">
                                        <div class="event-date-info">
                                            <div class="edi-box">
                                                <h4>13</h4>
                                                <p>Nav 2021</p>
                                            </div>
                                        </div>
                                        <div class="event-content-info">
                                            <a href="#"><h5>Convocation and Celebration 2021</h5></a>
                                            <ul class="lab-ul">
                                                <li><i class="icofont-clock-time"></i> 08:30 am</li>
                                                <li><i class="icofont-google-map"></i> National Auditorium, Dhaka</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event-item">
                                <div class="event-inner">
                                    <div class="event-content">
                                        <div class="event-date-info">
                                            <div class="edi-box">
                                                <h4>13</h4>
                                                <p>Nav 2021</p>
                                            </div>
                                        </div>
                                        <div class="event-content-info">
                                            <a href="#"><h5>Convocation and Celebration 2021</h5></a>
                                            <ul class="lab-ul">
                                                <li><i class="icofont-clock-time"></i> 08:30 am</li>
                                                <li><i class="icofont-google-map"></i> National Auditorium, Dhaka</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event-item">
                                <div class="event-inner">
                                    <div class="event-content">
                                        <div class="event-date-info">
                                            <div class="edi-box">
                                                <h4>13</h4>
                                                <p>Nav 2021</p>
                                            </div>
                                        </div>
                                        <div class="event-content-info">
                                            <a href="#"><h5>Convocation and Celebration 2021</h5></a>
                                            <ul class="lab-ul">
                                                <li><i class="icofont-clock-time"></i> 08:30 am</li>
                                                <li><i class="icofont-google-map"></i> National Auditorium, Dhaka</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Event Section Ending Here -->


    <!-- WorkShop Section Start Here -->
    <div class="workshop-section padding-tb">
        <div class="container">
            <div class="row row-cols-xl-2 row-cols-1">
                <div class="col">
                    <div class="section-header">
                        <span class="subtitle">Save The Day</span>
                        <h2 class="title fw-normal text-white">Join on Day Long Free Workshop for <span class="fw-bold">Advance</span> <span class="theme-color fw-bold">PHP</span> <span class="fw-bold">Language</span></h2>
                    </div>
                    <div class="section-wrapper">
                        <div class="workshop-date">
                            <ul class="lab-ul date" data-date="november 09, 2021 18:25:25">
                                <li>
                                    <h2 class="count-title days">00</h2>
                                    <p class="days_text">Day</p>
                                </li>
                                <li>
                                    <h2 class="count-title"><span class="hours">00</span></h2>
                                    <p class="hours_text">Hour</p>
                                </li>
                                <li>
                                    <h2 class="count-title"><span class="minutes">00</span></h2>
                                    <p class="minu_text">Minute</p>
                                </li>
                                <li>
                                    <h2 class="count-title"><span class="seconds">00</span></h2>
                                    <p class="seco_text">Secound</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="workshop-join">
        <div class="container">
            <div class="section-wrapper">
                <div class="workshop-title">
                    <h5>Just Create Your Free Account Now & Join the Workshop</h5>
                </div>
                <div class="workshop-join-form">
                    <form>
                        <div class="input-area">
                            <input type="text" placeholder="Username">
                            <input type="email" placeholder="Email">
                            <input type="text" placeholder="Phone">
                        </div>
                        <div class="submit-area">
                            <button type="submit" class="lab-btn"><span>Join Now</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- WorkShop Section Ending Here -->


    <!-- Blog Section Start Here -->
    <div class="blog-section padding-tb">
        <div class="container">
            <div class="section-header text-center">
                <span class="subtitle">Don’t Miss the Day</span>
                <h2 class="title">Upcomming Events</h2>
            </div>
            <div class="section-wrapper">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center g-4">
                    <div class="col">
                        <div class="post-item style-3">
                            <div class="post-inner">
                                <div class="post-thumb">
                                    <a href="blog-single.html"><img src="assets/images/blog/10.jpg" alt="blog thumb"></a>
                                </div>
                                <div class="post-content">
                                    <a href="blog-single.html"><h4>Learn Basic Web Design with HTML and CSS</h4></a>
                                    <div class="meta-post">
                                        <ul class="lab-ul">
                                            <li><i class="icofont-ui-user"></i>Begrass Tyson</li>
                                            <li><i class="icofont-calendar"></i>April 23,2021</li>
                                        </ul>
                                    </div>
                                    <p>Proactively enhance prospective resources for next generation convergence. Dramatically myocardinate high-quality vortals through transparent.</p>
                                    <a href="#" class="lab-btn"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="post-item style-3">
                            <div class="post-inner">
                                <div class="post-thumb">
                                    <a href="blog-single.html"><img src="assets/images/blog/11.jpg" alt="blog thumb"></a>
                                </div>
                                <div class="post-content">
                                    <a href="blog-single.html"><h4>Scottish Creatives To Receive Funded Business.</h4></a>
                                    <div class="meta-post">
                                        <ul class="lab-ul">
                                            <li><i class="icofont-ui-user"></i>Begrass Tyson</li>
                                            <li><i class="icofont-calendar"></i>April 23,2021</li>
                                        </ul>
                                    </div>
                                    <p>Proactively enhance prospective resources for next generation convergence. Dramatically myocardinate high-quality vortals through transparent.</p>
                                    <a href="#" class="lab-btn"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="post-item style-3">
                            <div class="post-inner">
                                <div class="post-thumb">
                                    <a href="blog-single.html"><img src="assets/images/blog/12.jpg" alt="blog thumb"></a>
                                </div>
                                <div class="post-content">
                                    <a href="blog-single.html"><h4>Learn Basic Web Design with PHP and Laravel</h4></a>
                                    <div class="meta-post">
                                        <ul class="lab-ul">
                                            <li><i class="icofont-ui-user"></i>Begrass Tyson</li>
                                            <li><i class="icofont-calendar"></i>April 23,2021</li>
                                        </ul>
                                    </div>
                                    <p>Proactively enhance prospective resources for next generation convergence. Dramatically myocardinate high-quality vortals through transparent.</p>
                                    <a href="#" class="lab-btn"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Section Ending Here -->
    

    <!-- Clients Section Start Here -->
    <div class="clients-section padding-tb">
        <div class="container">
            <div class="section-header text-center">
                <span class="subtitle">Don’t Miss the Day</span>
                <h2 class="title">The People Says About Us</h2>
            </div>
            <div class="section-wrapper">
                <div class="clients-slider overflow-hidden">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="client-item">
                                <div class="client-inner">
                                    <div class="client-thumb">
                                        <img src="assets/images/clients/01.jpg" alt="education">
                                    </div>
                                    <div class="client-content">
                                        <p>Dynamically impact tactical methods of empowerment through ubiquitous methodologies. Global utilize robust services without integrated process improvements. Completely leverage existing niche markets via exceptional leadership skills.</p>
                                        <div class="client-info">
                                            <h6 class="client-name">Laurie R. Gallegos</h6>
                                            <span class="client-degi">Assistant principal</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="client-item">
                                <div class="client-inner">
                                    <div class="client-thumb">
                                        <img src="assets/images/clients/02.jpg" alt="education">
                                    </div>
                                    <div class="client-content">
                                        <p>Dynamically impact tactical methods of empowerment through ubiquitous methodologies. Global utilize robust services without integrated process improvements. Completely leverage existing niche markets via exceptional leadership skills.</p>
                                        <div class="client-info">
                                            <h6 class="client-name">Anthony McGuffog</h6>
                                            <span class="client-degi">Payroll bookkeeper</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="client-item">
                                <div class="client-inner">
                                    <div class="client-thumb">
                                        <img src="assets/images/clients/03.jpg" alt="education">
                                    </div>
                                    <div class="client-content">
                                        <p>Dynamically impact tactical methods of empowerment through ubiquitous methodologies. Global utilize robust services without integrated process improvements. Completely leverage existing niche markets via exceptional leadership skills.</p>
                                        <div class="client-info">
                                            <h6 class="client-name">Isabel Blaubaum</h6>
                                            <span class="client-degi">College instructor</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Clients Section Ending Here -->


    <!-- Newsletters Section Start Here -->
    <div class="newsletters-section padding-tb">
        <div class="container">
            <div class="newsletter-area">
                <div class="news-mass">
                    <i class="icofont-email"></i>
                </div>
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-6 col-12">
                        <div class="section-header">
                            <h2 class="title">Subscribe to Newsletter</h2>
                            <p>Subscribe free and get the notification and latest offers of our courses.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="section-wrapper">
                            <h5>Enter Your Name & Email Press to Submit Button</h5>
                            <form class="newsletter-form">
                                <input type="text" placeholder="Enter your name" required>
                                <input type="email" placeholder="Enter your email address" required>
                                <button type="submit" class="lab-btn"><span>Get Started Now</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletters Section Ending Here -->



    {% include 'layout/footer.html' %}
